<main class="puzzle">
  <div class="puzzle-control">
    <div class="puzzle-preview">
      <canvas #puzzleImage [attr.width]="210" [attr.height]="140" (click)="showPuzzleImage()"></canvas>
    </div>
    <div class="puzzle-difficulty">
      <label>难度: </label>
      <nz-select [(ngModel)]="activeDifficulty" (ngModelChange)="setDifficulty($event)">
        <nz-option *ngFor="let item of difficultyList"
                   [nzValue]="item.name"
                   [nzLabel]="item.label + '(' + item.rows + 'x' + item.cols + ')'"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="puzzle-board">
    <canvas #puzzleCanvas [attr.width]="canvasWidth" [attr.height]="canvasHeight"></canvas>
  </div>
</main>
