<main class="main">
  <div class="puzzle-difficulty">
    <nz-radio-group [(ngModel)]="activeDifficulty" nzButtonStyle="solid" (ngModelChange)="setDifficulty($event)">
      <label nz-radio-button nzValue="easy">简单</label>
      <label nz-radio-button nzValue="medium">中等</label>
      <label nz-radio-button nzValue="hard">困难</label>
      <label nz-radio-button nzValue="expert">专家</label>
      <label nz-radio-button nzValue="master">大师</label>
    </nz-radio-group>
  </div>
  <div class="puzzle-board">
    <canvas #puzzleCanvas [attr.width]="canvasWidth" [attr.height]="canvasHeight"></canvas>
  </div>
</main>
